@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

.sideNav {
	position : fixed;
	width : 30%;
	/* height : 100%; */
	margin-left : 20px;
	margin-top : 50px;
}
.content {
	margin-bottom : 30px;
}
.content1 { margin-top : 20px; }
li a { 
	color : gray;
}
li a:hover { color : black; list-style : none; }
.mpTitle {
	color:black;
	font-weight: bolder;
}
.mpTitle:hover { color : black; list-style : none; }
.mpTitle:after {
	content: "";
	display: block;
	width: 170px;
	border-bottom: 2px solid black;
	margin-top : 10px;
}
.mpSmallTitle:after { 
	content: "";
	display: block;
	width: 170px;
	border-bottom: 1px solid gray;
	margin-top : 10px;
}
.mpSmallTitle {
	font-weight: bolder;
}